name: Build and Release Python Package

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install requirements
        run: uv pip install -r pyproject.toml
        env:
          UV_SYSTEM_PYTHON: 1

      - name: Build package
        run: uv build

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          body: "Full list of changes is in the CHANGELOG."
          files: |
            dist/*.whl
            dist/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
